.landing-page{
    padding: 20px;
    text-align: center;
    
    border-radius: 5px;
}

.spots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spot-tile {
   display: felx;
   flex-direction: column;
   border: 1px solid #a4a2a2;
   border-radius: 10px;
   overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.8);
    background-color:rgb(202, 208, 194);
    margin: 10px;
}
.spot-img {
    width: 100%;
    height:  auto;
    object-fit: cover;
    margin: 10px 10px 10px;
    flex-grow: 1;
}

.spot-info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color:rgb(208, 208, 209);
}

.location {
    text-align: left;
}
 .rating {
    text-align: right;
 }
 .location p, .rating p {
    margin: 1;
 }
 .rating p {
    background-color: rgb(121, 182, 144);
    border-radius: 10px;
    padding: 5px 10px;
 }