.header {
    display: flex;
    align-items: center;
    background-color:  rgb(202, 208, 194);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.header-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    align-items: center;
}
.home-link {
    margin-right: auto;
}
.header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header-nav li {
    margin-right: 20px;
}
.header-nav li a, .profile-menu span {
    color: black;
    text-decoration: none;
}
.header-nav li a:hover, .profile-menu span:hover {
    text-decoration: underline;
}
.header img {
    height: 40px;
}
/* .profile-menu {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.profile-menu:hover .dropdown-content{
    display: block;
} */